<!-- In your article creation template -->
{% extends 'app/base.html' %}

{% block content %}
    <h3>Create Article</h3>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create</button>
        </form>
        <a href="{% url 'home' %}">Back to list</a>
    </div>
{% endblock content %}

{% block page_js %}
<script>
   const contentMarkdown = new EasyMDE({
    element: document.getElementById('id_content'),
    spellChecker: false,
    status: false,
    toolbar: false,
    forceSync: true
   });
</script>
{% endblock page_js %}
