{% extends 'app/base.html' %}

{% load widget_tweaks %}

{% block content %}
<form method="post">
   {% csrf_token %}

   {% render_field form.title %}

   {% block article_stats %}

   {% endblock article_stats %}

   {% render_field form.status %}

   {% render_field form.content %}

   {% render_field form.twitter_post %}

   {% block buttons %}

   {% endblock buttons %}
</form>
{% endblock content %}

{% block page_js %}
<script>
   const contentMarkdown = new EasyMDE({
   element: document.getElementById('id_content'),
   spellChecker: false,
   status: false,
   toolbar: false,
   forceSync: true
   });
</script>
{% endblock page_js %}
